.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

/* Block 1 */
.block1 {
    background-color: rgb(252, 214, 237);
    flex: 0 0 80%; /* Займає 70% ширини */
    height: 20vh; /* Фіксована висота */
    padding: 2%; 
    box-sizing: border-box; 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    overflow: hidden;
}

/* Список в Block 1 */
.block1 ol {
    display: flex; 
    flex-wrap: nowrap; 
    padding: 0; 
    margin: 0; 
}

.block1 li {
    margin-right: 2%; 
    font-size: calc(1rem + 0.3vw); 
}

/* Block 2 */
.block2 {
    background-color: rgb(255, 185, 228);
    flex: 0 0 20%; /* Займає 20% ширини */
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    padding: 2%; 
    box-sizing: border-box; 
    position: relative; 
}

/* Block 2 Image */
.block2 img {
    max-width: 100%; 
    height: auto; 
}

/* Block 4 */
.block4 { 
    background-color: rgb(243, 117, 195);
    flex: 0 0 60%; /* Займає 60% ширини */
    height: 10vh; /* Фіксована висота */
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: calc(1.5rem + 1vw); 
    padding: 2%; 
    box-sizing: border-box; 
}

/* Block 5 */
.block5 { 
    background-color: rgb(228, 89, 174);
    flex: 0 0 60%; /* Займає 60% ширини */
    padding: 2%; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    color: white; 
    max-width: 100%; 
}

/* Список у Block 5 */
.block5 ul {
    margin: 0; 
    padding: 0; 
    font-size: calc(1rem + 0.4vw); 
    text-align: left; 
}

/* Block 3 */
.block3 {
    background-color: rgb(255, 185, 228);
    flex: 0 0 20%; /* Займає 70% ширини */
    padding: 2%; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
}

/* Block 3 Image */
.block3 img {
    max-width: 100%; 
    height: auto; 
}

/* Block 6 */
.block6 { 
    background-color: rgb(252, 214, 237);
    flex: 0 0 100%; /* Займає всю ширину */
    height: 20vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: calc(1.5rem + 1vw);
    padding: 2%; 
    box-sizing: border-box; 
}

/* Адаптивні стилі */
@media (max-width: 1200px) {
    .block1 li {
        font-size: calc(0.8rem + 0.6vw);
    }
}

@media (max-width: 768px) {
    .block1, .block2, .block3, .block4, .block5, .block6 {
        flex: 0 0 100%; /* Займає всю ширину на маленьких екранах */
    }
}
